footer{
    border-top: 2px solid whitesmoke;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(15, 15, 15);
}

.credits{
    margin-top: 1rem;
    font-size: small;
}

a{
    color: rgb(97, 188, 241);
}