table{
    margin: auto;
    width: 80%;
    margin-bottom: 5%;
    text-align: center;
}
tr{

    width: 100%;
}
td{
    text-align: center;
    width: 45%;
    min-width: 150px;
    background-color: rgb(41, 47, 77);
    // border-radius: 15px;
    border-style: solid;
    border-color: whitesmoke;
    padding-top: 8%;
    padding-bottom: 8%;

    img{
        padding: 1%;
        width: 80%;
    }
}

td:hover{
    border-color: cyan;
}

.custom-td{
    margin: 3px;
    width: 1%;
    min-width: 1px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 0;
}

.custom-td:hover{
    border-color: whitesmoke;
}

.vh{
    background-color: whitesmoke;
    width: 3px;
    text-align: center;
}

button{
    border-radius: 15px;
    // background-image: url("/assets/desk.jpg");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    //  background-position: center;
    //  background-size: 100%;
    // background-color: rgb(36, 36, 36);
    background-color: whitesmoke;
    font-size: clamp(10px, 2.2vw, 195px);
    font-weight: bolder;
    width:100%;
    color: rgb(41, 47, 77);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    // background-color: rgb(41, 47, 77);
    border: none;
    img{
        width: 80%;
    }
}

button:hover{
    background-image: none;
    background-color: rgb(41, 47, 77);
    color: whitesmoke;
}