<div class="box" [@foobar]="state">
    <div class="option-one">
        <ul>
            <li class="h1">Small Business Package</li>
            <li>&nbsp;</li>
            <li>Covers Most Businesses</li>
            <li>Custom Website Design</li>
            <li>Dynamic Webpages for Mobile and PC</li>
            <li>Domian Setup</li>
            <li>Client Owned Domains</li>
            <li>6 Months / 7,000 Character Content Updates</li>
            <li>Free Limited Hosting</li>
            <li>Limited Image Editing</li>
            <li></li>
            <li>NO MONTHLY COST</li>
            <li>&nbsp;</li>
            <li class="h2">$699 / One Time Fee</li>
            <li class="discriptor">Includes upto 4 webpages. Additional cost of $99 for each additional page.</li>
        </ul>
        <button class="contact" routerLink="/contact">Contact now</button>
    </div>
</div>