<div class="imgTwo">
    <div>
        <img src="/assets/Nautiloid-code.png" alt="" class="logo">
    </div>
</div>
<div class="missionTwo">
    <ul>
        <li class="h1">Contact Information</li>
        <li><p class="quote code">For interest or questions please send us an email at NautiloidIndustries@outlook.com or click the button below.</p></li>
        <li>&nbsp;</li>
    </ul>
    <a class="email" href="mailTo:NautiloidIndustries@outlook.com?subject=Nautiloid Industries Website Inquiry">Email</a>
</div>