<div class="box" [@foobar]="state">
    <div class="option-two">
    <ul>
        <li class="h1">How do we do it?</li>
        <li>&nbsp;</li>
        <li>Wondering how we can make a website at a one-time cost? Unlike many other website designers, we code our web pages ourselves. This means that we are not reliant on a website builder that charges 
            a monthly fee. This is done by coding the front end(the part the user views) in Angular and using Firebase for free-limited hosting. This allows websites with a lower view count to run completely for free! 
            Think you might have more views on your page than the free tier allows? No worries, Firebase offers a Pay-as-you-go model for high-traffic
             websites. In this scenario you only pay for what you use.  
        </li>
        <li>&nbsp;</li>
        <li><img src="/assets/angular-logo.png" alt="" class="tech"></li>
        <li class="arrow">&#8681;</li>
        <li><img src="/assets/firebase.png" alt="" class="techTwo"></li>
    </ul>
    </div>
</div>