<div class="main">
    <div class="intro">
        <img class="mainImage" src="/assets/NI-side-logo.png" alt="Nautiloid Industries Logo">
    </div>
    <app-page-selection-panel></app-page-selection-panel>
</div>

<!-- <div class="mission">
    <p class="h1 code">Who is Nautilod Industries?</p>
    <p class="quote code">Industry-leading web development and design at an affordable price. 
        With over half a decade of professional modern full-stack industry experience, Nautiloid has built everything from simple webpages to full-stack applications.
         We aim to bring high-quailty website design to small businesses' needs by offering affordable ONE-TIME PAYMENT options. We are able to do this by making websites completely from scratch without a website builder. Have a project you don't see a package for? Contact us and we can create a custom package to fit your needs and budget!</p>
</div> -->

<!-- <div class="packages">
    <p class="h1">&#8681; <span class="pack">Packages</span> &#8681;</p>
</div>
<app-small-package></app-small-package>
<app-pro-package></app-pro-package>
<app-tech-stack></app-tech-stack> -->


