<div class="box" [@foobar]="state">
    <div class="option-two">
    <ul>
        <li class="h1">Pro Package</li>
        <li>&nbsp;</li>
        <li>For Businesses with a Massive Clientele</li>
        <li>Custom Website Design</li>
        <li>Dynamic Webpages for Mobile and PC</li>
        <li>Domian Setup</li>
        <li>Client Owned Domains</li>
        <li>Built-in User Login for Content Updates</li>
        <li>Pay as you use Hosting Setup</li>
        <li>Limited Image Editing</li>
        <li>Analytics</li>
        <li>&nbsp;</li>
        <li class="h2">$1999 Starting / Custom Options</li>
        <li class="discriptor">Includes upto 6 webpages. Custom options available, one time payment options, monthly payment options.</li>
    </ul>
    <button class="contact" routerLink="/contact">Contact now</button>
    </div>
</div>